{% load staticfiles %}
<div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <a href="#">©Apple Iphone</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">Get Help</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">Privacy Statement</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">Terms of Use</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">Code of Conduct</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">Advertise With Us</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">Version 8.21.2015.21031</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="social-connection">
            <a href="#" ><img src="{% static 'images/social-facebook-circle-128.png' %}" class="img-responsive" data-toggle="tooltip" title="Link us on Facebook" class="red-tooltip"></a>
            <a href="#"><img src="{% static 'images/twitter.png' %}" class="img-responsive" data-toggle="tooltip" title="Follow us on Twitter"></a>
            <a href="#"><img src="{% static 'images/linkedin_circle_color-512.png' %}" class="img-responsive"data-toggle="tooltip" title="Connect us on Linkedin"></a>
            <a href="#"><img src="{% static 'images/googleplus-revised_round.png' %}" class="img-responsive" data-toggle="tooltip" title="follow us Google Plus"></a>
            <a href="#"><img src="{% static 'images/social_skype_button_blue.png' %}" class="img-responsive" data-toggle="tooltip" title="Connect us on Skype"></a>
            <a href="#"><img src="{% static 'images/pinterest.png' %}" class="img-responsive" data-toggle="tooltip" title="Link us on Pinterest"></a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <p>Copyright © 2016-2018 calethium.com</p>
        </div>
      </div>
    </div>
  </div>
