{% extends "base.html" %}
{% load staticfiles %}


{% block header %}
  {% include 'header.html' %}
{% endblock %}

{% block content %}
<div>
  <span style="font-size:20px;font-weight:bold;">Received Requests:-</span><br>
  <input type="hidden" id="postaction" value="{% url 'acceptrequest' %}">
  {% csrf_token %}
  {% if received %}
    <table>
    {% for user in received %}
        <tr>
          <td>{{ user.first_name|title }} {{ user.last_name|title }}</td>
          <td><input type="button" value="Accept" onclick="acceptFried({{ user.id }},this)"></td>

        </tr>
        <tr>
          <td colspan="2"><hr></td>
        </tr>
    {% endfor %}
  </table>
  {% else %}
    <h3>No request available right now.</h3>
  {% endif %}
</div>
<div>
  <span style="font-size:20px;font-weight:bold;">Send requests:-</span><br>
  {% if send %}
    <table>
    {% for user in send %}
        <tr>
          <td>{{ user.first_name|title }} {{ user.last_name|title }}</td>
        </tr>
        <tr>
          <td><hr></td>
        </tr>
    {% endfor %}
  </table>
  {% else %}
    <h3>No request available right now.</h3>
  {% endif %}
</div>
{% endblock %}
